<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @qq.name %>
</p>

<p>
  <b>Assigned:</b>
  <%= @qq.assigned %>
</p>

<p>
  <b>Hours:</b>
  <%= @qq.hours %>
</p>

<p>
  <b>Price:</b>
  <%= @qq.price %>
</p>

<p>
  <b>Notes:</b>
  <%= @qq.notes %>
  </p>

<p>
  <b>Status:</b>
   <%
       case @qq.state
       when "Pending"
       %><font  color="red">Pending</font><%
       when "Approved"
       %><font  color="blue">Approved</font><%
       when "Completed"
       %><font  color="green">Completed</font><%
       end
    %>
</p>


<%= link_to 'Edit', edit_qq_path(@qq) %> |
<%= link_to 'Back', qqs_path %>
